/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap');

:root {
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --shadow: #414141;
  --bg-blur: rgba(0, 0, 0, 0.4);
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-family);
  margin: 0;
  overflow-x: hidden;
  background: var(--bg-blur);
  letter-spacing: 0.8px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px var(--bg-blur);
}

.main .clock {
  display: flex;
  flex-direction: row;
}

.main .clock .hour,
.main .clock .minute {
  font-size: 120px;
  font-weight: 600;
  color: var(--white);
  text-shadow: 1px 1px 4px var(--shadow);
}

.main .clock .separator {
  font-size: 96px;
  font-weight: 600;
  margin-top: 6px;
  margin-left: -6px;
  margin-right: -6px;
  color: var(--white);
  text-shadow: 1px 1px 4px var(--shadow);
}

.main .fulldate {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.main .fulldate i.fa {
  font-size: 16px;
  color: var(--white);
  margin-top: 1px;
  margin-right: 6px;
}

.main .fulldate .date {
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  text-shadow: 1px 1px 4px var(--shadow);
}

.main .quotes .text {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  color: var(--white);
  margin-top: 50px;
  text-shadow: 1px 1px 4px var(--shadow);
  text-align: center;
}

.main .quotes .text-by {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: var(--white);
  text-align: center;
  text-shadow: 1px 1px 4px var(--shadow);
  margin-top: 10px;
}

/* .main .info-top {
  position: absolute;
  width: 100%;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .info-top .github-actions {
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 20px;
}

.main .info-top .github-actions .star-github {
  margin-right: -112px;
} */

.main .info-bottom {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .info-bottom .author-img,
.main .info-bottom .source-code {
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 20px;
}

.main .info-bottom .author-img i.fa,
.main .info-bottom .author-img .author {
  font-size: 12px;
  color: var(--white);
  text-shadow: 1px 1px 4px var(--shadow);
}

.main .info-bottom .author-img i.fa,
.main .info-bottom .source-code i.fa {
  margin-top: 3px;
  margin-right: 6px;
}

.main .info-bottom .source-code i.fa,
.main .info-bottom .source-code p {
  font-size: 12px;
  color: var(--white);
  text-shadow: 1px 1px 4px var(--shadow);
}

.main .info-bottom .source-code i.fa {
  margin-top: 2px;
  font-size: 14px;
}
